<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
         {{#if loggedIn}}
            <p>Hello, {{username}}</p>
            <a href="/profile">profile</a>
            <a href="/api/users/logout">logout</a>
        {{else}}
        <a href="/home">Home</a>
        <a href="/login">Login</a>
        <a href="/dashboard">Dashboard</a>
        {{/if}}
        <h2 id="navLinksHeader">The Tech Blog</h2>
    </header>
   <main>
       {{{body}}}
   </main> 
</body>
</html>