<main>
    <div class="bodyContainerBlog">
        <div class="topicListItem">
            <p class="blogTitle">{{blog.title}}</p>
            <p class="blogBody">{{blog.body}}</p>
            <p class="userName">Created By: {{blog.User.username}}</p>
            <p class="blogCreated">Created At:{{blog.createdAt}}</p>
        </div>
    </div>
</main>
